.root {
    width: 100%;
    display: flex;
}

.comment_root {
    width: 40%;
    margin-top: 10px;
}

.specific_image_root {
    width: 50%;
    display: flex;
}

.specific_shop_other_section {
    width: 100%;
    display: flex;
}

.infoTipView {
    height: 40px;
    width: 40px
}

.infoBox {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-content: flex-start;
}

.infoLabel {
    text-align: left;
    font-family: Skia, sans-serif;
    margin-bottom: 0;
    color: #000000;
}

.infoRoot {
    flex: 1 1;
    margin-right: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main_image {
    flex-shrink: 1;
    object-fit: contain;
    max-height: 400px;
    object-position: top;
    margin-top: 50px;
    overflow: hidden;
}

.trip_root {
    display: flex;
    margin: 10px auto auto;
    width: 150px;
}

@media only screen and (max-width: 700px) {
    .comment_root {
        width: 100%;
    }

    .trip_root {
        margin-top: 0;
    }

    .shop_tip_view {
        position: absolute;
        left: 20px;
        right: unset;
    }

    .specific_shop_other_section {
        flex-direction: column;
    }

    .specificShopContainer {
        margin-top: -40px;
    }

    .root {
        flex-direction: column;
        padding-top: 40px;
    }

    .main_image {
        max-height: 200px;
    }

    .specific_image_root {
        width: 90%;
    }
}
