
.infoBox {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-content: flex-start;
}

.infoTipView {
    height: 40px;
    width: 40px
}

.infoLabel {
    text-align: left;
    font-family: Skia, sans-serif;
    margin-bottom: 0;
    color: #ffffff;
}

#addToFavoritesButton {
    max-width: 60%;
}

#favRemoveButton {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    .specificShopContainer {
        overflow: auto;
    }
}

Button:focus {
    outline: none;
}

.infoRoot {
    flex: 1;
    margin-right: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}