.comment_statistic_root {
    width: 300px;
    margin: 20px 0 0 30px;
}

.statistic_line_root {
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.statistic_pbar {
    width: 200px;
}

@media only screen and (max-width: 850px) {
    .comment_root {
        margin-top: 30px;
    }
}