.logo_parent1 {
    min-width: 15%;
    height: 100%;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.header_root {
    border-bottom: 1px solid #c3c3c3;
    width: 100%;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
}

.avatar_header_container {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.avatar_header {
    min-height: 100%;
    object-fit: cover;
}

.logo_parent2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
    flex: 1;
}

.action_parent {
    height: 100%;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
}

.search_parent {
    flex: 1;
    height: 100%;
    display: flex;
    padding: 0 10px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyph {
    position: absolute;
    padding: 40px;
    display: flex;
    align-items: center;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0;
}

.right-addon .glyphicon {
    right: 0;
}

.right-addon input {
    padding-right: 50px;
}

@media only screen and (max-width: 850px) {
    .inputField2 {
        font-size: 13px;
    }

    .search_parent {
        padding-left: 10%;
        padding-right: 10%;
    }

    .action_parent {
        background: #fff;
        padding-top: 5px;
        margin-top: 5px;
        font-size: 1em;
        justify-content: flex-end;
    }

    .avatar_header_container {
        width: 30px;
        height: 30px;
    }

    .header_root {
        height: unset;
        background: #3CBF95;
        border-bottom: unset;
    }
}