.searchContainer {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
}

.category_root {
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
    min-width: 300px;
    max-width: 100%;
}

.category_item {
    width: 200px;
    max-width: 40vw;
    height: 170px;
    border-radius: 50px;
    overflow: hidden;
    background: #e6e6e6;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .category_root {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
    }

    .category_item {
        height: 140px;
    }
}