.root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment_root {
    width: 50%;
    height: 300px;
    margin-top: 10px;
}

.specific_image_root {
    width: 50%;
    display: flex;
}

.main_image {
    flex-shrink: 1;
    object-fit: contain;
    max-height: 400px;
    object-position: top;
    margin-top: 50px;
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    .comment_root {
        width: 100%;
    }

    .main_image {
        max-height: 200px;
    }

    .specific_image_root {
        width: 90%;
    }
}
