
.btnSubmit {
    align-self: center;
}

#tipRoot {
    display: flex;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: white;
    color: #3CBF95;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

#tipImg {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.inputField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3CBF95;
    opacity: 1; /* Firefox */
}


.inputField {
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}


