
.btnSubmit {
    align-self: center;
}

#tipRoot {
    display: flex;
}

ul.pagination {
    display: flex;
    padding: 0;
    margin: auto;
    justify-content: center;
}

.empty_grid_filler {
    width:200px;
    height:0;
}

ul.pagination li {
    flex-shrink: 1;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

div {
    -webkit-overflow-scrolling: touch;
}

ul.pagination li a.active {
    background-color: white;
    color: #3CBF95;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

#tipImg {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.generic_shops_root {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

@media only screen and (max-width: 850px) {
    .generic_shops_root {
        padding: 0;
    }
}



