.shop_line_root {
    max-width: 200px;
    width: 20%;
    min-width: 150px;
    height: 250px;
    background: white;
    border-top: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.shop_line_root.bottom {
    border-bottom: 1px solid #c3c3c3;
}

.shop_line_root.right {
    border-right: 1px solid #c3c3c3;
}

.shop_line_number {
    font-weight: bold;
    font-size: 18px;
}

.shop_line_stars {
    width: 100%;
    margin-top: 5px;
}

.shop_line_cat {
    width: 90%;
    text-align: left;
    font-size: 0.8em;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 5px;
    overflow: hidden;
}

.rating {
    margin-left: 5px;
    color: blue;
    font-weight: bold;
    font-size: 0.9em;
}

.shop_line_cat.empty {
    visibility: hidden;
}

.shop_line_image {
    width: 80%;
    height: 100px;
    object-fit: cover;
}

.shop_line_city {
    font-weight: bold;
    margin-top: 5px;
}

.shop_line_desc {
    flex: 1;
    font-size: 0.8em;
    text-align: left;
    width: 90%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
}