.App {
    text-align: center;
    background-color: white;
    height: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:focus {
    box-shadow: 0 0 3pt 2pt #3CBF95;
}

.inputField:focus {
    box-shadow: 0 0 3pt 2pt #000000;
    outline: none;
}

h1, h2, h3 {
    color: #3CBF95;
    font-family: Skia, sans-serif;
    font-weight: lighter;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.titleLabel {
    text-transform: capitalize;
    color: white;
    font-size: 2em;
}

.smallImg {
    height: 100%;
}

.MuiPaper-root-15 {
    min-width: 18%;
}

.img-circle {
    border-radius: 50%;
}

button {
    text-transform: none;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

* {
    font-family: Skia, sans-serif;
}