.App {
    text-align: center;
    background-color: #3CBF95;
    height: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

h1, h2, h3 {
    color: white;
    font-family: Skia, sans-serif;
    font-weight: lighter;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.titleLabel {
    text-transform: capitalize;
    color: white;
    font-size: 2em;
    font-family: Skia, sans-serif;
}

::-webkit-scrollbar {
    display: none
}

.smallImg {
    height: 100%;
}

.MuiPaper-root-15 {
    min-width: 18%;
}

.dragscroll {
    cursor: grab;
}

button {
    text-transform: none;
}

.dragscroll:active {
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    cursor : -o-grabbing;
    cursor : grabbing;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
