.App {
    text-align: center;
    background-color: #3CBF95;
    height: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

h1 {
    color: white;
    font-family: Skia, sans-serif;
}

h3 {
    font-family: Skia, sans-serif;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.titleLabel {
    color: white;
    font-size: 2em;
    font-family: Skia, sans-serif;
}

::-webkit-scrollbar {
    display: none
}

.smallImg {
    height: 100%;
}

.dragscroll {
    cursor: grab;
}

.dragscroll:active {
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    cursor : -o-grabbing;
    cursor : grabbing;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
